<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/output.css}" rel="stylesheet">
   

<body class="flex flex-col gap-4 font-serif">

      <header class="bg-sky-500 py-5 text-3xl  text-center text-amber-50 font-extrabold">CADASTRO DE ATLETA</header>
      
      
      <!--TUDO QUE TA NO (atletaDto Prentence a esse formulario então não preicsa obj.name)-->

      <main class="flex flex-col  w-full  items-center  min-h-screen ">
         <form th:action="@{/atleta/save}" th:object="${atletaDtos}" class="flex flex-col gap-10" method="post">
                
                <!--CADASTRO  PREMEIRA PARTE-->
               <section class="flex bg-gray-50/60 py-14 px-10 rounded-2xl gap-12 mr-auto w-full ">
                     <section class="w-full">
                        <label for="foto-upload" 
                            class="flex flex-col gap-2 border-2 border-gray-500 items-center py-10 px-28 rounded-2xl border-dashed border-4 cursor-pointer hover:bg-gray-100 duration-300">
    
                            <img th:src="@{/img/camera.svg}" class="w-32">
                            
                          <input  type="file" name="file" id="foto-upload" class="hidden">
                        </label>
                    </section>
                <section class=" w-full flex justify-around items-center gap-7">
                     <a href="" class="flex flex-col gap-2 px-28 py-7 border-sky-600 border-2 rounded-2xl hover:bg-sky-500/40 duration-500">
                            <img th:src="@{/img/medico.svg}" alt="">
                            <p class="font-bold text-gray-500">MEDICO</p>
                    </a>

                    <a href="" class="flex flex-col gap-2 px-28 py-7 border-sky-600 border-2 rounded-2xl bg-sky-500/40 duration-500">
                            <img th:src="@{/img/atletaBranco.svg}" alt="">
                            <p class="font-bold text-red-50">ATLETA</p>
                        </a>

                        <a href="" class="flex flex-col gap-2 px-28 py-7 px-10 items-center border-sky-600 border-2 rounded-2xl hover:bg-sky-500/40 duration-500">
                            <img th:src="@{/img/medico.svg}" alt="" class="w-16">
                            <p class="font-bold text-gray-500">TREINADOR</p>
                        </a>
                </section>
               </section>
               <!--CADASTRO  PREMEIRA PARTE-->

               <!--PARTE DOIS DOS CAMPOS-->
                <section class="flex flex-col bg-gray-50 py-12 px-10 gap-7 w-full rounded-2xl  ">
                    <div class="flex gap-3">
                            <img th:src="@{img/documento.svg}" alt="">
                            <p class="text-2xl font-extrabold">DADOS PESSOAS </p>
                    </div>

                    <section class="flex justify-around gap-9">
                        
                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">NOME COMPLETO</p>
                            <input th:field="*{name}"   type="text" placeholder="Digite seu nome" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         <div class="w-1/2 flex flex-col gap-1.5">
                             <p class="text-2xl font-extrabold  mr-7 text-gray-400">DATA DE NASCIMENTO</p>
                            <input th:field="*{dataNascimento}"  type="date" name=""  id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                    </section>
                   
                    <section class="flex justify-around gap-9">
                        
                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">CPF</p>
                            <input  th:field="*{cpf}" type="number" name="" placeholder="000.000.000-00" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">RG</p>
                            <input  th:field="*{rg}"  type="number" name="" placeholder="000.000.000-0" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                          <div class="w-full flex flex-col gap-1.5">
                             <p class="text-2xl font-extrabold  mr-7 text-gray-400">DATA DE NASCIMENTO</p>
                            <select name="" id=""  class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                                <option value="" disabled>SELECIONE</option>
                                <option value="" >MASCULINO</option>
                                <option value="" >FEMINO</option>

                            </select>
                        </div>


                    </section>

                </section>
               <!--FIM PARTE DOIS DOS CAMPOS-->


               <!--PARTE TRES-->
                <section class="flex flex-col bg-gray-50 py-12 px-10 gap-7 w-full rounded-2xl shadow-2xl">
                    <div class="flex gap-3">
                            <img src="img/documento.svg" alt="">
                            <p class="text-2xl font-extrabold">ACESSO DE CONTATOS </p>
                    </div>

                      <section class="flex justify-around gap-9">
                        
                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">EMAIL</p>
                            <input  th:field="*{email}"  type="email" name="" placeholder="exemplo@email.com" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">SENHA</p>
                            <input th:field="*{senha}" type="password" name="" placeholder="Defina uma senha" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         </section>

                         <section class="flex justify-around gap-9">
                        
                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">Tel. Fixo</p>
                            <input th:field="*{telefoneFixo}"  type="number" name="" placeholder="(00) 0000-0000" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">Celular / Telemóvel</p>
                            <input th:field="*{telefoneZap}"  type="number" name="" placeholder="(00) 0000-0000" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>
                          
                         </section>
                
                </section>
               <!--FIM PARTE DOIS DOS CAMPOS-->


               <!--PARTE TRES-->
                <section class="flex flex-col bg-gray-50 py-12 px-10 gap-7 w-full rounded-2xl shadow-2xl">
                    <div class="flex gap-3">
                            <img src="img/documento.svg" alt="">
                            <p class="text-2xl font-extrabold">ENDEREÇO</p>
                    </div>

                      <section class="flex justify-around gap-9">
                        
                        <div class="w-1/6 flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">CEP</p>
                            <input th:field="*{moradia_fk.cep}"  type="number" name="" placeholder="00000-000" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400"> RUA / AVENIDA</p>
                            <input  th:field="*{moradia_fk.avenida}" type="text" name="" placeholder="Nome da rua" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>


                         <div class="w-1/6 flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">NÚMERO</p>
                            <input th:field="*{moradia_fk.sn}" type="password" name="" placeholder="Ex:" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                        
                          
                         </section>


                         <!----->

                         <section class="flex justify-around gap-9">
                        
                        <div class=" w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">BAIRRO</p>
                            <input th:field="*{moradia_fk.bairro}"  type="text" name="" placeholder="Insira o bairro" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">CIDADE</p>
                            <input th:field="*{moradia_fk.cidade}"  type="text" name="" placeholder="Nome da cidade" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>


                         <div class="w-1/6 flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">UF</p>
                            <input  type="text" name="" placeholder="Ex:" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                        
                          
                         </section>
                         
                         
                
                </section>


                <!--Saúde e Biometria-->


                

                  <section class="flex flex-col bg-gray-50 py-12 px-10 gap-7 w-full rounded-2xl shadow-2xl">
                    <div class="flex gap-3">
                            <img src="img/documento.svg" alt="">
                            <p class="text-2xl font-extrabold ">Saúde e Biometria SAÚDE BIOMETRICA</p>
                    </div>

                      <section class="flex justify-around gap-9">
                        
                    
                        <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">ALTURA , (M)</p>
                            <input th:field="*{alturaCetimentro}"  type="text" name="" placeholder="Nome da rua" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400"> PESO , (KG)</p>
                            <input th:field="*{pesoMigrama}" type="text" name="" placeholder="Nome da rua" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400">Tipo Sanguíneo</p>
                         
                            <select id="tipo-sangue" name="tipo-sangue" class="py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                                    <option value="">Selecione...</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                            </select>
                                                    </div>

                         <div class="w-full flex flex-col gap-1.5">
                            <p class="text-2xl font-extrabold  mr-7 text-gray-400"> RUA / AVENIDA</p>
                            <input  th:field="*{moradia_fk.bairro}" type="text" name="" placeholder="Nome da rua" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>
                         </section>
                         <!----->
    
                </section>
                  <!--AFILIAÇÃO-->                
                  <section class="flex flex-col bg-gray-50 py-12 px-10 gap-7 w-full rounded-2xl shadow-2xl">
                    <div class="flex gap-3">
                            <img src="img/documento.svg" alt="">
                            <p class="text-2xl font-extrabold ">FILIAÇÃO</p>
                    </div>

                    <section class="flex justify-around gap-10">
                            <!--MAE-->


                      <section class="flex  w-full flex-col text-2xl font-black gap-3   gap-9">
                        
                     <div class="flex flex-col">
                          <h1 class="text-2xl">DADOS DA MÃE</h1>
                          <div class="bg-sky-600 h-2 w-48"></div>
                     </div>

                        <div class="w-full flex flex-col gap-1.5">
                            <label class="text-2xl font-extrabold  mr-7 text-gray-400">Nome da Mãe</label>
                            <input th:field="*{pais_fk.maeNome}" type="text" name="" placeholder="Nome completo da mãe" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         <div class="w-full flex flex-col gap-1.5">
                            <label class="text-2xl font-extrabold  mr-7 text-gray-400">Telefone Fixo</label>
                            <input th:field="*{pais_fk.maeTelefone}" type="number" name="" placeholder="(00) 0000-0000" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         <div class="w-full flex flex-col gap-1.5">
                            <label class="text-2xl font-extrabold  mr-7 text-gray-400">E-mail</label>
                            <input th:field="*{pais_fk.maeEmail}"  type="text" name="" placeholder="mae@email.com" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                            
                         </section> 

                         <!--PAI-->

                      <section class="flex  w-full flex-col text-2xl font-black gap-3   gap-9">
                        
                       <div class="flex flex-col w-48 text-center">
                          <h1 class="text-2xl">PAI</h1>
                          <div class="bg-sky-600 h-2 w-48"></div>
                     </div>

                        <div class="w-full flex flex-col gap-1.5">
                            <label class="text-2xl font-extrabold  mr-7 text-gray-400">Nome do Pai</label>
                            <input th:field="*{pais_fk.paiName}"  type="text" name="" placeholder="Nome completo da mãe" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         <div class="w-full flex flex-col gap-1.5">
                            <label class="text-2xl font-extrabold  mr-7 text-gray-400">Telefone Fixo</label>
                            <input th:field="*{pais_fk.paiTelefone}"  type="number" name="" placeholder="(00) 0000-0000" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                         <div class="w-full flex flex-col gap-1.5">
                            <label class="text-2xl font-extrabold  mr-7 text-gray-400">E-mail</label>
                            <input th:field="*{pais_fk.paiEmail}"  type="text" name="" placeholder="mae@email.com" id="" class=" py-3 px-3 rounded-2xl text-2xl border-4 border-sky-500">
                        </div>

                            
                         </section>
                    </section>
                         <!----->
   
                </section>



                <!--BUNTÃO-->

                  </section>
                  <!--AFILIAÇÃO-->                
                  <section class="flex justify-between py-12 px-20 gap-7 w-full rounded-2xl ">
                   <button class="py-4 bg-gray-300 px-3 rounded-2xl hover:text-amber-50 duration-300">Limpar Campos </button>
                   <button class="bg-amber-500  px-20 py-2 rounded-2xl text-amber-50 hover:border-8 hover:border-amber-600 duration-500">CADASTRAR</button>

                   
                </section>


                

            </form>
        </main>

        <footer></footer>

</body>
</html>