<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Acessar Portal</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/img/iconFun.png}">
</head>

<body>

    <main class="login-container">
        <section class="login-form-side">
            <h1>Acessar - Portal</h1>
            <div class="underline"></div>

            <div th:if="${param.error}" style="color: red; margin-bottom: 10px; font-size: 0.9rem;">
                CPF ou senha incorretos.
            </div>

            <form th:action="@{/login}" method="post">

                <div class="input-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" required>
                </div>

                <div class="input-group">
                    <label for="password">Palavra-Chave</label>
                    <input type="password" id="password" name="password" placeholder="******" required>
                </div>

                <button type="submit" class="btn-entrar">Entrar</button>

                <div class="forgot-password">
                    <a href="#">Esqueceu sua senha?</a>
                </div>
            </form>
        </section>

        <section class="login-image-side"></section>
    </main>

</body>

</html>